/* @font-face {
  font-family: "Hanken Grotesk";
  src: url("/fonts//HankenGrotesk-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
} */

@font-face {
  font-family: "RedHat";
  src: url("/fonts/RedHatText-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "RedHat";
  src: url("/fonts/RedHatText-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  /* Colors */
  --red: hsl(14, 86%, 42%);
  --green: hsl(159, 69%, 38%);
  --rose-50: hsl(20, 50%, 98%);
  --rose-100: hsl(13, 31%, 94%);
  --rose-300: hsl(14, 25%, 72%);
  --rose-400: hsl(7, 20%, 60%);
  --rose-500: hsl(12, 20%, 44%);
  --rose-900: hsl(14, 65%, 9%);
  /* Font Size */
  --product-names-fontSize: 1.6rem;
}

body {
  font-family: "RedHat";
  font-size: 1.6rem;
  background-color: var(--rose-100);
}

@media (max-width: 768px) {
  html {
    font-size: 57%;
  }
}

@media (max-width: 420px) {
  html {
    font-size: 40%;
  }
}
